{% extends 'base_barra.html' %} {% load static %} 
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "Css/admin_home.css" %}" />  {% endblock css %}
{% block content %}

<section class="container_buttons">
  <div class="boton">
    <div class="info">
      <span>#</span>
      <a href="">Reparations</a>
    </div>
    <img src="{% static "assets/tools.svg"%}" class="button_icon">
    <div class="more_info">
      <h2>More info</h2>
      <img src="{% static "assets/more_info.svg"%}" class="info_icon">
    </div>
  </div>

  <div class="boton">
    <div class="info">
      <span>#</span>
      <a href="">Clients</a>
    </div>
    <img src="{% static "assets/clients.svg"%}" class="button_icon">
    <div class="more_info">
      <h2>More info</h2>
      <img src="{% static "assets/more_info.svg"%}" class="info_icon">
    </div>
  </div>

  <div class="boton">
    <div class="info">
      <span>#</span>
      <a href="">Inventory</a>
    </div>
    <img src="{% static "assets/projects.svg"%}" class="button_icon">
    <div class="more_info">
      <h2>More info</h2>
      <img src="{% static "assets/more_info.svg"%}" class="info_icon">
    </div>
  </div>
</section>

{% endblock content %}
