{% extends 'base.html' %} {% load static %} {% block css %} <link
rel="stylesheet" type="text/css" href="{% static "Css/normalize.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "Css/admin_home.css" %}" />
{% endblock css %} {% block content %}

<header>
    <div>
        <img class="logo" src="{% static "img/Logo.png"%}" alt="Logo.png">
    </div>
</header>
    <nav class="nav">
        <div class="nav_container">

           <a href="#menu" class="nav_menu">
                <img src="{% static "assets/menu.svg"%}" class="nav_icon" alt="menu_icon">
           </a>
           <a href="#" class="nav_menu nav_menu-second">
                <img src="{% static "assets/close.svg"%}" class="nav_icon" alt="menu_icon">
           </a>
            
           <ul class="dropdown" id="menu">
                <li class="dropdown_list">
                    <a href="#" class="dropdown_link">
                        <img src="{% static "assets/house.svg"%}" class="dropdown_icon">
                        <span class="dropdown_span">Home</span>
                    </a>
                </li>
                <li class="dropdown_list">
                    <a href="#" class="dropdown_link">
                        <img src="{% static "assets/tools.svg"%}" class="dropdown_icon">
                        <span class="dropdown_span">Reparations</span>
                    </a>
                </li>
                <li class="dropdown_list">
                    <a href="#" class="dropdown_link">
                        <img src="{% static "assets/projects.svg"%}" class="dropdown_icon">
                        <span class="dropdown_span">Projects</span>
                        <img src="{% static "assets/down.svg"%}" class="dropdown_arrow">

                        <input type="checkbox" class="dropdown_check">
                    </a>

                    <div class="dropdown_content">
                        <ul class="dropdown_sub">
                            <li class="dropdown_li">
                                <a href="#" class="dropdown_anchor">Project 1</a>
                            </li>
                            <li class="dropdown_li">
                                <a href="#" class="dropdown_anchor">Project 2</a>
                            </li>
                            <li class="dropdown_li">
                                <a href="#" class="dropdown_anchor">Project 3</a>
                            </li>
                        </ul>
                    </div>

                </li>
           </ul>

        </div>

    </nav>

    


{% endblock content%}
