
.container_buttons{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    align-content: center;
    gap: 1rem;
    justify-content: space-evenly;
}

.boton {
    color:var(--white);
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    align-items: center;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 700;
}

.info a{
    color:var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.more_info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.more_info:nth-child(3) {
    grid-column: 1 / 3;
}